@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-*: initial;
    --color-black: #000;
    --color-white: #fff;
    --color-background: #212121;
    --color-elevation-1: #343434;
    --color-elevation-2: #3D3D3D;
    --color-elevation-3: #5A5A5A;
    --color-light: #9D9D9D;
    --color-hover: rgba(0, 0, 0, 0.75);

}

html,
body {
    @apply bg-background;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

.markdown h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.markdown h1::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: white;
}

.markdown h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.markdown h2::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: white;
}

.markdown h3 {
    font-size: 1.5rem;
}

.markdown h4 {
    font-size: 1.3rem;
    text-decoration: underline;
}

.markdown h5 {
    font-size: 1rem;
    text-decoration: underline;
}

.markdown h6 {
    font-size: 1rem;
    text-decoration: underline;
}

.markdown p {
    font-size: 1rem;
}

.markdown p::before {
    content: "    ";
    white-space: pre;
}

.markdown ul {
    list-style: disc;
    padding-left: 1rem;
}

.markdown a {
    color: #c5c5c5;
}
