@import 'tailwindcss';

@theme {
    --color-*: initial;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red: #FF0000;
    --color-gray-0 : #9D9D9D;
    --color-gray-1 : #5A5A5A;
    --color-gray-2 : #3D3D3D;
    --color-gray-3 : #212121;
}

html, body {
  @apply bg-gray-3 text-white;
}

.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
